@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


.wrapper{
  height: 100%;
  width: 300px;
 
 
}
.wrapper .menu-btn{
  position: absolute;
  left: 30px;
  top: 10px;
  background: #4a4a4a;
  color: #fff;
  height: 45px;
  width: 45px;
  z-index: 9999;
  border: 1px solid #010c16;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
#btn:checked ~ .menu-btn{
  left: 320px;
}
.wrapper .menu-btn i{
  position: fixed;
  transform: 1px;
  font-size: 23px;
  transition: all 0.3s ease;
}
.wrapper .menu-btn i.fa-times{
  opacity: 0;
}
#btn:checked ~ .menu-btn i.fa-times{
  opacity: 1;
  transform: rotate(-180deg);
}
#btn:checked ~ .menu-btn i.fa-bars{
  opacity: 0;
  transform: rotate(180deg);
}
#sidebar{
  position: relative;
  
  
  height: 100%;
  width: 300px;
  overflow: hidden;
  left: -600px;
  transition: all 0.5s ease;
}
#btn:checked ~ #sidebar{
  left: 0;
}
#sidebar .title{
  line-height: 150px;
  text-align: center;
  background: #d64f4f;
  font-size: 30px;
  font-weight: 600;
  color: #eeeeee;
  border-bottom: 1px solid #ebdcdc;
}
#sidebar .list-items{
  position: relative;
  background: #16213b;
  width: 100%;
  height: 100%;
  list-style: none;
}
#sidebar .list-items li{
  padding-left: 40px;
  line-height: 80px;
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid #333;
  transition: all 0.3s ease;
}
#sidebar .list-items li:hover{
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  box-shadow: 0 0px 10px 3px #979494;
}
#sidebar .list-items li:first-child{
  border-top: none;
}
#sidebar .list-items li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  height: 100%;
  width: 100%;
  display: block;
}
#sidebar .list-items li a i{
  margin-right: 20px;
}
#sidebar .list-items .icons{
  width: 100%;
  height: 40px;
  text-align: center;
  position: absolute;
  bottom: 100px;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#sidebar .list-items .icons a{
  height: 100%;
  width: 40px;
  display: block;
  margin: 0 5px;
  font-size: 18px;
  color: #f2f2f2;
  background: #4a4a4a;
  border-radius: 5px;
  border: 1px solid #383838;
  transition: all 0.3s ease;
}
#sidebar .list-items .icons a:hover{
  background: #404040;
}
.list-items .icons a:first-child{
  margin-left: 0px;
}
 *{
    margin: 0;
    padding: 0;
   
}
body
{
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(images/pic.webp);
    display: flex;
    align-items: center;
  margin-left: 300px;
    
}
.Customer{

    position: relative;
    justify-content: center;
    align-items: c;
    height: 730px;
    max-width: 700px;
    width: 100%;
    border-radius: 20px;
    padding: 30px;
    background-color:#d38e4e;
    background-size: auto;
    background-repeat: no-repeat;
    margin: 0 15px;
    box-shadow: 0 5px 10px rgb(46, 48, 44);
    font-size: 40px;
    
    
}
header{
    align-items: center;
    margin-left: 30px;
    text-align: center;
    color:#fff;
}
.Customer form{
    position: relative;
    margin-top: 16px;
    min-height: 600px;
    background-color:#f8f8f8;
    padding: 20px;
    border-radius: 8px;
    align-items: center;
    align-items: center;

    
    
}
.Customer form .title{
    position: relative;
    font-size: 24px;
    font-weight: 20px;
    margin: 6px 2px;
   
    margin-bottom: 30px;
    font-size: bold;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
       
   
    
}
.Customer form .title::before{
    content: "";
 position: absolute;
    margin-top: 100px;
    margin-left: 5px;
    bottom: -4px;
    height:3px;
    width:20px ;
    background-color: #2877df;
}


.Customer form .fields{

    width: 100%;
    font-size: 18px;
    font-family: "Roboto Mono", sans-serif;
    padding-left: 20px;
}
form .input-box {
    margin-top: 15px;
}


form .input-box input{
    position: relative;
    height: 30px;
    width: 90%;
    margin-top: 2px;
    padding-left: 10px;
    font-size:15px ;
    display: inline;
   margin-right: 30px;
 
 
}
form .column{
    display: flex;
}
form .column input{
    width: 80%;
}



form .Address input{
    height: 30px;
    width: 400px;
    width: 90%;
    margin-top: 10px;

}
button{
    margin-top: 60px;
  margin-left: 60px;
    align-items: center;
    height: 40px;
    width: 100px; 
   
    font-size: 18px;
    cursor: pointer;
    background-color:#4280f3;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    border: none;
    transition: all 0.3s linear;

}
.error{
  color: red;
 margin-left: 50px;
 margin-right: 50px;
  font-size: 18px;
  margin-top: 30px;
  border-radius: 10px;
 
  
}