*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.container
{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.5)), url(images/pic3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
}
.hd{
height: 20px;
text-align: 20px;
margin-left: 30px;
font-size: 60px;
color: rgb(255, 215, 0);

font-family:Georgia, 'Times New Roman', Times, serif
}
.navbar
{
    height: 12%;
    display: flex;
    align-items: center;
}
nav{
    flex:1;
    text-align:right;
 
}
nav ul li
{ list-style: none;
    display: inline-block;
    margin-left: 40px;

}
button{
    width: 100px;
    color: #000;
    font-size: 20px;
    padding:5px ;
    background: #fff;
    border: 1px;
    border-radius: 5px;
    cursor: pointer;
}
.pic{
background-repeat: no-repeat;
background-size: cover;
width: 650px;
cursor: pointer;
height:450px ;
margin-top: 10px;
border-radius: 30px;
}


.row{ 
display: flex;
align-items: center;
height: 80%;
}
col{
    flex-basis: 50%;
}

p1
{
 margin-left: 200px;
 margin-top: 180px;
}

.code{
    width: 200px;
    height: 250px ;
    display:inline-block;
    font-size: 25px;
    color:rgb(8, 8, 8);
    border-radius: 20px 20px;
    padding: 20px 20px;
    box-sizing: border-box;
    cursor: pointer;
    align-items:center;
    flex: 1px;
    margin:25px 20px ;
    text-align: center;
    background-color: rgb(255, 253, 253);
    transition: transform 0.3s;
}
.code:hover{
    transform:translateY(-20px)
}
h1{
    font-size:50px ;
    color: rgb(241, 162, 43);
}
h2{
    font-size:50px ; color: rgb(43, 195, 241);
}
h3{ font-size:50px ; 
    color: rgb(67, 240, 90);
}

h4{ font-size:50px ;
     color: rgb(123, 77, 252);
}
h5{ font-size:50px ;
     color: rgb(247, 80, 224);
}
h6{ font-size:50px ;
     color: rgb(247, 69, 69)
}

