*{
    margin:0;
    padding:0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;

}

.container{
width:100%;
 height: 100vh;
 background-image:  url("/static/images/pic123.jpg");
 background-position: center;
 background-size:cover;
 position: relative;
}
.form-box
{
   
    width: 90%;
    max-width: 450px;
    position: absolute;
    height: 700px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: #fff;
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 30px;
}
.form-box h1{
    font-size:30px ;
    margin-bottom: 60px;
    color: #3c00a0;
    position: relative;

}
.input-field{
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    
}
input{
    width:100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;

}
.input-field i{
    margin-left: 15px;
    color:#999;
    border-radius: 5px;
}
form p{
text-align: left;
font-size: 13px;
padding-left: 15px;

}
form p a{
    text-decoration: none;
    color: #3c00a0;

}
.btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
  
}
.btn-field button{
    flex-basis: 80%;
    background: #5634a5;
    color:#fff;
    height: 40px;
    border-radius: 18px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
    font-size: 15px;
    margin-left: 40px;
    margin-top: 20px;
} 
.input-group
{
    height: 200px;
}
.btn-field button.disable{
    background: #eeeaea;
    color:#555;

}
.error{
    color: red;
   margin-left: 80px;
   margin-right: 50px;
    font-size: 18px;
    margin-top: 30px;
    border-radius: 10px;
   
    animation: .3s linear;
  }