*{
    margin: 0;
    padding: 0;
   
}
body
{
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/static/images/pic27.webp");
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.Customer{

    position: relative;
    height: 700px;
    max-width: 700px;
    width: 100%;
    border-radius: 20px;
    padding: 30px;
    background-color:#acb1f1;
    background-size: auto;
    background-repeat: no-repeat;
    margin: 0 15px;
    box-shadow: 0 5px 10px rgb(46, 48, 44);
    font-size: 40px;
    
    
}
header{
    align-items: center;
    margin-left: 30px;
    text-align: center;
    color:#fff;
}
.Customer form{
    position: relative;
    margin-top: 16px;
    min-height: 580px;
    background-color:#f8f8f8;
    padding: 20px;
    border-radius: 8px;
    align-items: center;
    align-items: center;

    
    
}
.Customer form .title{
    position: relative;
    font-size: 24px;
    font-weight: 20px;
    margin: 6px 2px;
   
    margin-bottom: 30px;
    font-size: bold;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
       
   
    
}
.Customer form .title::before{
    content: "";
 position: absolute;
    margin-top: 100px;
    margin-left: 5px;
    bottom: -4px;
    height:3px;
    width:20px ;
    background-color: #2877df;
}


.Customer form .fields{

    width: 100%;
    font-size: 18px;
    font-family: "Roboto Mono", sans-serif;
    padding-left: 20px;
}
form .input-box {
    margin-top: 15px;
}


form .input-box input{
    position: relative;
    height: 30px;
    width: 90%;
    margin-top: 2px;
    padding-left: 10px;
    font-size:15px ;
    display: inline;
   margin-right: 30px;
 
 
}
form .column{
    display: flex;
}
form .column input{
    width: 80%;
}



form .Address input{
    height: 30px;
    width: 400px;
    width: 90%;
    margin-top: 10px;

}
button{
    margin-top: 60px;
  margin-left: 80px;
    align-items: center;
    height: 40px;
    width: 100px; 
   
    font-size: 18px;
    cursor: pointer;
    background-color:#4280f3;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    border: none;
    transition: all 0.3s linear;

}
button :hover{
    background-color:#7aa4f1 ;
}
.error{
    color: red;
   margin-left: 80px;
   margin-right: 50px;
    font-size: 18px;
    margin-top: 30px;
    border-radius: 10px;
   
    animation: .3s linear;
  }
  
 