*{
    margin:0;
    padding:0;
    font-family: 'poppins', sans-serif;
    
}

.container{
    width:100%;
    height: 100vh;
    background-image:  url("/static/images/pic111.png");
    background-position: center;
    background-size:cover;
 
}
.form-box
{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: #fff;
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 30px;
}
.form-box h1{
    font-size:30px ;
    margin-bottom: 60px;
    color: #3c00a0;
    position: relative;

}
.input-field{
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    
}
input{
    width:100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;

}
.input-field i{
    margin-left: 15px;
    color:#999;
    border-radius: 5px;
}
form p{
text-align: left;
font-size: 15px;
padding-left: 15px;
margin-left: 80px;

}
form p a{
    text-decoration: none;
    color: #3c00a0;
   

}
.btn-field{
    width: 100%;
    display: flex;
    margin-top: 25px;
   
}
.btn-field button{
    flex-basis: 80%;
    background: #5634a5;
    color:#fff;
    height: 40px;
    border-radius: 15px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
    transition: 1s;
    font-size: 18px;
   align-items: center;
   justify-content: center;
   margin-bottom: 10px;
   margin-left: 40px ;
   
   
   
} 
.input-group
{
    height: 200px;
}

.error-message {
    padding: 20px;
    background-color: red; /* Red color for error message */
    color: white;
}

.success-message {
    padding: 20px;
    background-color: green; /* Green color for success message */
    color: white;
   
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}


  
 