{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UFT-8">
    <meta name="view port"
    content="width=device-width,initial-scale=1.0">
<title>Event Register</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,500;1,100;1,200;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@500&family=Rubik:ital,wght@0,500;1,500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/Event_Register.css' %}">
</head>
    <body>
        
        <div class="Event">
            <header>
                 Event Registration
            </header>
            <form action="{% url 'Event_register' %}" method="POST">
            {% csrf_token %}
            {% if error %}
                <div class="error-message">{{ error }}</div>
            {% endif %}
            {% if messages %}
                {% for message in messages %}
                    <div class="success-message">{{ message }}</div>
                {% endfor %}
            {% endif %}
            <div class="title">
               <span>Event Details</span>
            </div>
             <div class="fields">  
                <div class= "column">
            
                <div class="input-box">
                <label > Event Name :</label>
                <input type="text"  name="event_name" placeholder=" enter event name "required> 
            </div>
                <div class="input-box">
                <label >  Event Date : </label>
                <input type="date"  name="event_date" placeholder=" date"required>
            </div>
                <div class="input-box">
                <label >  Event Time :</label>
                <input type="time" name="event_time" placeholder=" Time"required>
            </div></div>
                <div class= "Address">
                <div class="input-box">
                <label > Event Location  :</label>
               <input type="text" name="event_location" placeholder="  enter event location "required>
               <div class="input-box">
            <label > Requirement : </label>
            <input type="text" placeholder="Requirement" name="event_requirement" required>
         </div>
         <div class="input-box">
         <label > Event Themes : </label>
         <input type="text"  name="event_themes" placeholder=" enter themes ">
         </div>
            <div class="button">
                <button type="reset"  >Delete</button>
                <button type="submit"  >Submit</button>
                <a href="{% url 'Venue_register' %}"></a><button type="button"  >Next <i class="fa-solid fa-caret-right"></i></button></a>
            
                <a href="{% url 'home' %}"> <b1><button type="button">Home <i class="fa-solid fa-house"></i></button> </b1></a>
         </div>
         
            

             </div>
            </form>
        </div>
    </body>
    </html>