{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UFT-8">
    <meta name="view port"
    content="width=device-width,initial-scale=1.0">
<title> Report Salary</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,500;1,100;1,200;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@500&family=Rubik:ital,wght@0,500;1,500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'css/Report_Employee_style1.css' %}">
</head>
    <body>
        <div class="error">
            <div>
               {% if error %}
               <div class="error-message">{{ error }}</div>
           {% endif %}
   
           {% if messages %}
               {% for message in messages %}
                   <div class="success-message">{{ message }}</div>
               {% endfor %}
           {% endif %}
       </div>
   </div>

   <h1>   Salary Records </h1>
        <div class="wrapper">
            <input type="checkbox" id="btn" hidden />
            <label for="btn" class="menu-btn">
                <i class="fas fa-bars"></i>
                <i class="fas fa-times"></i>
            </label> 
            <nav id="sidebar">
                <div class="title"> Report</div>
                <ul class="list-items">
                    <li>
                        <a href="{% url 'Employee_register' %}"><i class="fa-solid fa-users"></i> Register Employee </a>
                    </li>
                    <li>
                        <a href="{% url 'Salary_register' %}"><i class="fa-solid fa-money-bill-1-wave"></i>Employee Salary</a>
                    </li>
                    <li>
                        <a href="{% url 'Report_Employee' %}"><i class=""></i> Employee Details </a>
                    </li>
                    <li>
                        <a href="{% url 'Report_Salary' %}"><i class=""></i>  Salary Details</a>
                    </li>
                    <li>
                        <a href="{% url 'home' %}"><i class="fa-solid fa-house"></i> Home</a>
                    </li>
                </ul>
            </nav>
        </div>
   
       <table class="table table-bordered border-primary  table-hover">
        <thead class="thead-dark">
            <tr>
                
                <th scope="col"> Employee Name </th>
                <th scope="col">Date </th>
                <th scope="col">Salary month </th>
                <th scope="col">Employee Salary </th>
                <th scope="col">ID</th>
                <th scope="col">Action</th>
                
            </tr>
        </thead>
        <tbody>
            {% if records6 %}
                {% for record6 in records6 %}
                    <tr>
                        
                        <td>{{ record6.employee_name  }}</td>
                        <td>{{ record6.date }}</td>
                        <td>{{ record6.month }}</td>
                        <td>{{ record6.salary }}</td>
                        <td><a href="{% url 'Record_Salary' record6.id %}">{{ record6.id }}</a></td>
                        <td>
                        <a href="{% url 'Update_salary' record6.id %}" class="btn btn-primary"><i class="fas fa-pencil-alt"></i></a>
                        <a href="{% url 'Delete_Salary' record6.id %}" class="btn btn-danger "><i class="fa fa-trash" aria-hidden="true"></i></a>
                       </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
     
    </table>
        

           
    </body>
    </html>