{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8"/>
    <title>Report_Venue</title>
    <link rel="stylesheet" href="{% static 'css/Report_Venue_style1.css' %}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
  {% if error %}
  <div class="error-message">{{ error }}<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  </div>
  {% endif %}

  {% if messages %}
  {% for message in messages %}
  <div class="success-message ">{{ message }}
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  </div>
  {% endfor %}
  {% endif %}
  </div>
  </div>
  <h1>  Venue  Records</h1>
    <div class="wrapper">
        <input type="checkbox" id="btn" hidden />
        <label for="btn" class="menu-btn">
          <i class="fas fa-bars"></i>
          <i class="fas fa-times"></i>
        </label>
        <nav id="sidebar">
          <div class="title">Records</div>
          <ul class="list-items">
            <li>
              <a href="{% url 'Report_Customer' %}"><i class="fas fa-user-plus"></i> Customer </a>
            </li>
            <li>
              <a href="{% url 'Report_tabel1' %}"><i class="fas fa-pencil-alt"></i> Event</a>
            </li>
            <li>
              <a href="{% url 'Report_Venue' %}"><i class="	fas fa-map-marker-alt"></i>Venue</a>
            </li>
            <li>
              <a href="{% url 'Report_Payment' %}"><i class="	fas fa-coins"></i>Payment </a>
            </li>
            <li>
              <a href="{% url 'home' %}"><i class=" fa-solid fa-house"></i>Home</a>
            </li>
            <li>
          </ul>
        </nav>
      </div>
      
    <table class="table table-bordered border-primary  table-hover">
        <thead class="thead-dark">
            <tr>
                
                <th scope="col"> Event Name</th>
                <th scope="col"> Event Type</th>
                <th scope="col"> Event Address</th>
                <th scope="col">ID</th>
                <th scope="col">Action</th>
                
              
                
               
            </tr>
        </thead>
        <tbody>
            {% if records3 %}
                {% for record3 in records3 %}
                    <tr>
                        
                        <td>{{ record3.venue_event_name }}</td>
                        <td>{{ record3.event_type}}</td>
                        <td>{{ record3.event_address }}</td>
                        <td><a href="{% url 'Record_Venue' record3.id %}">{{ record3.id }}</a></td>
                        <td> 
                          <a href="{% url 'Update_Venue' record3.id %}" class="btn btn-primary"><i class="fas fa-pencil-alt"></i> </a>
                          <a href="{% url 'Delete_Venue' record3.id %}" class="btn btn-danger "><i class="fa fa-trash" aria-hidden="true"></i></a>
                        </td>
                       
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>

</body>
</html>
